In [49]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import sqlite3
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from wordcloud import WordCloud
import re
import os
from sqlalchemy import create_engine # database connection
import datetime as dt
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn import metrics
from sklearn.metrics import f1_score,precision_score,recall_score
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from skmultilearn.adapt import mlknn
from skmultilearn.problem_transform import ClassifierChain
from skmultilearn.problem_transform import BinaryRelevance
from skmultilearn.problem_transform import LabelPowerset
from sklearn.naive_bayes import GaussianNB
from datetime import datetime

Converting csv data to database file

In [50]:
if not os.path.isfile('train.db'):
    start = datetime.now()
    disk_engine = create_engine('sqlite:///train.db')
    start = dt.datetime.now()
    chunksize = 180000
    j = 0
    index_start = 1
    for df in pd.read_csv('Train.csv', names=['Id', 'Title', 'Body', 'Tags'], chunksize=chunksize, iterator=True, encoding='utf-8', ):
        df.index += index_start
        j+=1
        print('{} rows'.format(j*chunksize))
        df.to_sql('data', disk_engine, if_exists='append')
        index_start = df.index[-1] + 1
    print("Time taken to run this cell :", datetime.now() - start)

In [51]:
if os.path.isfile('train.db'):
    start = datetime.now()
    con = sqlite3.connect('train.db')
    num_rows = pd.read_sql_query("""SELECT count(*) FROM data""", con)
    #Always remember to close the database
    print("Number of rows in the database :","\n",num_rows['count(*)'].values[0])
    con.close()
    print("Time taken to count the number of rows :", datetime.now() - start)
else:
    print("Please download the train.db file from drive or run the above cell to genarate train.db file")

Number of rows in the database :
 6034196
Time taken to count the number of rows : 0:00:03.865446

In [52]:
con = sqlite3.connect('train.db')
df = pd.read_sql_query('SELECT * FROM data',con)
con.close()
print(df)

             index       Id  \
0                1       Id
1                2        1
2                3        2
3                4        3
4                5        4
...            ...      ...
6034191  107014192  6034191
6034192  107014193  6034192
6034193  107014194  6034193
6034194  107014195  6034194
6034195  107014196  6034195

                                                     Title  \
0                                                    Title
1        How to check if an uploaded file is an image w...
2        How can I prevent firefox from closing when I ...
3                 R Error Invalid type (list) for variable
4            How do I replace special characters in a URL?
...                                                    ...
6034191                        Parse JSON or XML in Status
6034192              Javascript resize on every image load
6034193                       Update database with big CSV
6034194  Difficulty adding a new view to a Roo-generate...
6034195  Decreasing sequence of closed set in a metric ...

                                                      Body  \
0                                                     Body
1        <p>I'd like to check if an uploaded file is an...
2        <p>In my favorite editor (vim), I regularly us...
3        <p>I am import matlab file and construct a dat...
4        <p>This is probably very simple, but I simply ...
...                                                    ...
6034191  <p>I wonder how Facebook parse the status or c...
6034192  <p>I've got this code:</p>\n\n<pre><code>while...
6034193  <p>I need every day update ~ 10.000 items in m...
6034194  <p>I'm trying to add my custom view and contro...
6034195  <p>Let $\{E_n\}$ be a collection of bounded an...

                                                      Tags
0                                                     Tags
1        php image-processing file-upload upload mime-t...
2                                                  firefox
3                                r matlab machine-learning
4                                          c# url encoding
...                                                    ...
6034191                           xml facebook json status
6034192                                     php javascript
6034193                       php sql query csv phpmyadmin
6034194             java spring spring-mvc view spring-roo
6034195                     general-topology metric-spaces

[6034196 rows x 5 columns]

In [53]:
if os.path.isfile('train.db'):
    con = sqlite3.connect('train.db')
    df_no_dup = pd.read_sql_query('SELECT Title, Body, Tags, COUNT(*) as cnt_dup FROM data GROUP BY Title, Body, Tags', con)
    con.close()

In [54]:
df_no_dup.head()

,Title,Body,Tags,cnt_dup
0,Implementing Boundary Value Analysis of S...,<pre><code>#include&lt;iostream&gt;\n#include&...,c++ c,1
1,Dynamic Datagrid Binding in Silverlight?,<p>I should do binding for datagrid dynamicall...,c# silverlight data-binding,1
2,Dynamic Datagrid Binding in Silverlight?,<p>I should do binding for datagrid dynamicall...,c# silverlight data-binding columns,1
3,java.lang.NoClassDefFoundError: javax/serv...,"<p>I followed the guide in <a href=""http://sta...",jsp jstl,1
4,java.sql.SQLException:[Microsoft][ODBC Dri...,<p>I use the following code</p>\n\n<pre><code>...,java jdbc,2

In [55]:
print("number of duplicate questions :", num_rows['count(*)'].values[0]- df_no_dup.shape[0], "(",(1-((df_no_dup.shape[0])/(num_rows['count(*)'].values[0])))*100,"% )")

number of duplicate questions : 1827881 ( 30.292038906260256 % )

In [56]:
# adding a new feature number of tags per question
df_no_dup["tag_count"] = df_no_dup["Tags"].apply(lambda text: len(str(text).split(" ")))
df_no_dup.head()

,Title,Body,Tags,cnt_dup,tag_count
0,Implementing Boundary Value Analysis of S...,<pre><code>#include&lt;iostream&gt;\n#include&...,c++ c,1,2
1,Dynamic Datagrid Binding in Silverlight?,<p>I should do binding for datagrid dynamicall...,c# silverlight data-binding,1,3
2,Dynamic Datagrid Binding in Silverlight?,<p>I should do binding for datagrid dynamicall...,c# silverlight data-binding columns,1,4
3,java.lang.NoClassDefFoundError: javax/serv...,"<p>I followed the guide in <a href=""http://sta...",jsp jstl,1,2
4,java.sql.SQLException:[Microsoft][ODBC Dri...,<p>I use the following code</p>\n\n<pre><code>...,java jdbc,2,2

EDA

In [57]:
# number of times each question appeared in our database
df_no_dup.cnt_dup.value_counts()

1    2656284
2    1272336
3     277575
4         90
5         25
6          5
Name: cnt_dup, dtype: int64

In [58]:
# number of times each question appeared in our database
df_no_dup.tag_count.value_counts()

3    1206157
2    1111706
4     814996
1     568298
5     505158
Name: tag_count, dtype: int64

In [59]:
#Creating a new database with no duplicates
if not os.path.isfile('train_no_dup.db'):
    disk_dup = create_engine("sqlite:///train_no_dup.db")
    no_dup = pd.DataFrame(df_no_dup, columns=['Title', 'Body', 'Tags'])
    no_dup.to_sql('no_dup_train',disk_dup)

In [60]:
if os.path.isfile('train_no_dup.db'):
    start = datetime.now()
    con = sqlite3.connect('train_no_dup.db')
    tag_data = pd.read_sql_query("""SELECT Tags FROM no_dup_train""", con)
    #Always remember to close the database
    con.close()

In [61]:
tag_data

                                        Tags
0                                      c++ c
1                c# silverlight data-binding
2        c# silverlight data-binding columns
3                                   jsp jstl
4                                  java jdbc
...                                      ...
4206310           wordpress wordpress-plugin
4206311                       php mysql text
4206312   php codeigniter character-encoding
4206313               php email outlook mime
4206314                                 html

[4206315 rows x 1 columns]

In [62]:
# Let's now drop unwanted row.
# tag_data.drop(tag_data.index[0], inplace=True)

In [63]:
# tag_data.head()

In [64]:
tag_data["Tags"] = tag_data["Tags"].apply(lambda text : str(text))

Tag Analysis

In [65]:
vectorizer = CountVectorizer(tokenizer = lambda x: x.split())
tag_dtm = vectorizer.fit_transform(tag_data['Tags'])

In [66]:
print("Number of data points :", tag_dtm.shape[0])
print("Number of unique tags :", tag_dtm.shape[1])

Number of data points : 4206315
Number of unique tags : 42049