In [3]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import sqlite3
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from wordcloud import WordCloud
import re
import os
from sqlalchemy import create_engine # database connection
import datetime as dt
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn import metrics
from sklearn.metrics import f1_score,precision_score,recall_score
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from skmultilearn.adapt import mlknn
from skmultilearn.problem_transform import ClassifierChain
from skmultilearn.problem_transform import BinaryRelevance
from skmultilearn.problem_transform import LabelPowerset
from sklearn.naive_bayes import GaussianNB
from datetime import datetime

Converting csv data to database file

In [4]:
if not os.path.isfile('train.db'):
    start = datetime.now()
    disk_engine = create_engine('sqlite:///train.db')
    start = dt.datetime.now()
    chunksize = 180000
    j = 0
    index_start = 1
    for df in pd.read_csv('Train.csv', names=['Id', 'Title', 'Body', 'Tags'], chunksize=chunksize, iterator=True, encoding='utf-8', ):
        df.index += index_start
        j+=1
        print('{} rows'.format(j*chunksize))
        df.to_sql('data', disk_engine, if_exists='append')
        index_start = df.index[-1] + 1
    print("Time taken to run this cell :", datetime.now() - start)

In [5]:
if os.path.isfile('train.db'):
    start = datetime.now()
    con = sqlite3.connect('train.db')
    num_rows = pd.read_sql_query("""SELECT count(*) FROM data""", con)
    #Always remember to close the database
    print("Number of rows in the database :","\n",num_rows['count(*)'].values[0])
    con.close()
    print("Time taken to count the number of rows :", datetime.now() - start)
else:
    print("Please download the train.db file from drive or run the above cell to genarate train.db file")

Number of rows in the database :
 6034196
Time taken to count the number of rows : 0:00:05.051569

In [6]:
con = sqlite3.connect('train.db')
df = pd.read_sql_query('SELECT * FROM data',con)
con.close()
print(df)

             index       Id  \
0                1       Id
1                2        1
2                3        2
3                4        3
4                5        4
...            ...      ...
6034191  107014192  6034191
6034192  107014193  6034192
6034193  107014194  6034193
6034194  107014195  6034194
6034195  107014196  6034195

                                                     Title  \
0                                                    Title
1        How to check if an uploaded file is an image w...
2        How can I prevent firefox from closing when I ...
3                 R Error Invalid type (list) for variable
4            How do I replace special characters in a URL?
...                                                    ...
6034191                        Parse JSON or XML in Status
6034192              Javascript resize on every image load
6034193                       Update database with big CSV
6034194  Difficulty adding a new view to a Roo-generate...
6034195  Decreasing sequence of closed set in a metric ...

                                                      Body  \
0                                                     Body
1        <p>I'd like to check if an uploaded file is an...
2        <p>In my favorite editor (vim), I regularly us...
3        <p>I am import matlab file and construct a dat...
4        <p>This is probably very simple, but I simply ...
...                                                    ...
6034191  <p>I wonder how Facebook parse the status or c...
6034192  <p>I've got this code:</p>\n\n<pre><code>while...
6034193  <p>I need every day update ~ 10.000 items in m...
6034194  <p>I'm trying to add my custom view and contro...
6034195  <p>Let $\{E_n\}$ be a collection of bounded an...

                                                      Tags
0                                                     Tags
1        php image-processing file-upload upload mime-t...
2                                                  firefox
3                                r matlab machine-learning
4                                          c# url encoding
...                                                    ...
6034191                           xml facebook json status
6034192                                     php javascript
6034193                       php sql query csv phpmyadmin
6034194             java spring spring-mvc view spring-roo
6034195                     general-topology metric-spaces

[6034196 rows x 5 columns]

In [7]:
if os.path.isfile('train.db'):
    con = sqlite3.connect('train.db')
    df_no_dup = pd.read_sql_query('SELECT Title, Body, Tags, COUNT(*) as cnt_dup FROM data GROUP BY Title, Body, Tags', con)
    con.close()

In [8]:
df_no_dup.head()

,Title,Body,Tags,cnt_dup
0,Implementing Boundary Value Analysis of S...,<pre><code>#include&lt;iostream&gt;\n#include&...,c++ c,1
1,Dynamic Datagrid Binding in Silverlight?,<p>I should do binding for datagrid dynamicall...,c# silverlight data-binding,1
2,Dynamic Datagrid Binding in Silverlight?,<p>I should do binding for datagrid dynamicall...,c# silverlight data-binding columns,1
3,java.lang.NoClassDefFoundError: javax/serv...,"<p>I followed the guide in <a href=""http://sta...",jsp jstl,1
4,java.sql.SQLException:[Microsoft][ODBC Dri...,<p>I use the following code</p>\n\n<pre><code>...,java jdbc,2

In [9]:
print("number of duplicate questions :", num_rows['count(*)'].values[0]- df_no_dup.shape[0], "(",(1-((df_no_dup.shape[0])/(num_rows['count(*)'].values[0])))*100,"% )")

number of duplicate questions : 1827881 ( 30.292038906260256 % )

In [10]:
# adding a new feature number of tags per question
df_no_dup["tag_count"] = df_no_dup["Tags"].apply(lambda text: len(str(text).split(" ")))
df_no_dup.head()

,Title,Body,Tags,cnt_dup,tag_count
0,Implementing Boundary Value Analysis of S...,<pre><code>#include&lt;iostream&gt;\n#include&...,c++ c,1,2
1,Dynamic Datagrid Binding in Silverlight?,<p>I should do binding for datagrid dynamicall...,c# silverlight data-binding,1,3
2,Dynamic Datagrid Binding in Silverlight?,<p>I should do binding for datagrid dynamicall...,c# silverlight data-binding columns,1,4
3,java.lang.NoClassDefFoundError: javax/serv...,"<p>I followed the guide in <a href=""http://sta...",jsp jstl,1,2
4,java.sql.SQLException:[Microsoft][ODBC Dri...,<p>I use the following code</p>\n\n<pre><code>...,java jdbc,2,2

EDA

In [11]:
# number of times each question appeared in our database
df_no_dup.cnt_dup.value_counts()

1    2656284
2    1272336
3     277575
4         90
5         25
6          5
Name: cnt_dup, dtype: int64

In [12]:
# number of times each question appeared in our database
df_no_dup.tag_count.value_counts()

3    1206157
2    1111706
4     814996
1     568298
5     505158
Name: tag_count, dtype: int64

In [13]:
#Creating a new database with no duplicates
if not os.path.isfile('train_no_dup.db'):
    disk_dup = create_engine("sqlite:///train_no_dup.db")
    no_dup = pd.DataFrame(df_no_dup, columns=['Title', 'Body', 'Tags'])
    no_dup.to_sql('no_dup_train',disk_dup)

In [14]:
if os.path.isfile('train_no_dup.db'):
    start = datetime.now()
    con = sqlite3.connect('train_no_dup.db')
    tag_data = pd.read_sql_query("""SELECT Tags FROM no_dup_train""", con)
    #Always remember to close the database
    con.close()

In [15]:
tag_data

                                        Tags
0                                      c++ c
1                c# silverlight data-binding
2        c# silverlight data-binding columns
3                                   jsp jstl
4                                  java jdbc
...                                      ...
4206310           wordpress wordpress-plugin
4206311                       php mysql text
4206312   php codeigniter character-encoding
4206313               php email outlook mime
4206314                                 html

[4206315 rows x 1 columns]

In [16]:
# Let's now drop unwanted row.
# tag_data.drop(tag_data.index[0], inplace=True)

In [17]:
# tag_data.head()

In [18]:
tag_data["Tags"] = tag_data["Tags"].apply(lambda text : str(text))

Tag Analysis

In [19]:
vectorizer = CountVectorizer(tokenizer = lambda x: x.split())
tag_dtm = vectorizer.fit_transform(tag_data['Tags'])

In [20]:
print("Number of data points :", tag_dtm.shape[0])
print("Number of unique tags :", tag_dtm.shape[1])

Number of data points : 4206315
Number of unique tags : 42049

<h2>Cleaning and Preprocessing</h2>

<ol> 
    <li> Sample 1M data points </li>
    <li> Separate out code-snippets from Body </li>
    <li> Remove Spcial characters from Question title and description (not in code)</li>
    <li> Remove stop words (Except 'C') </li>
    <li> Remove HTML Tags </li>
    <li> Convert all the characters into small letters </li>
    <li> Use SnowballStemmer to stem the words </li>
</ol>

In [21]:
def striphtml(data):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, ' ', str(data))
    return cleantext
stop_words = set(stopwords.words('english'))
stemmer = SnowballStemmer("english")

In [22]:
def create_connection(db_file):
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e) 
    return None

def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def checkTableExists(dbcon):
    cursr = dbcon.cursor()
    str = "select name from sqlite_master where type='table'"
    table_names = cursr.execute(str)
    print("Tables in the databse:")
    tables =table_names.fetchall() 
    print(tables[0][0])
    return(len(tables))

def create_database_table(database, query):
    conn = create_connection(database)
    if conn is not None:
        create_table(conn, query)
        checkTableExists(conn)
    else:
        print("Error! cannot create the database connection.")
    conn.close()

In [23]:
sql_create_table = """CREATE TABLE IF NOT EXISTS QuestionsProcessed (question text NOT NULL, code text, tags text, words_pre integer, words_post integer, is_code integer);"""
create_database_table("Processed.db", sql_create_table)

Tables in the databse:
QuestionsProcessed

In [24]:
read_db = 'train_no_dup.db'
write_db = 'Processed.db'
if os.path.isfile(read_db):
    conn_r = create_connection(read_db)
    if conn_r is not None:
        reader =conn_r.cursor()
        reader.execute("SELECT Title, Body, Tags From no_dup_train ORDER BY RANDOM() LIMIT 1000000;")

if os.path.isfile(write_db):
    conn_w = create_connection(write_db)
    if conn_w is not None:
        tables = checkTableExists(conn_w)
        writer =conn_w.cursor()
        if tables != 0:
            writer.execute("DELETE FROM QuestionsProcessed WHERE 1")
            print("Cleared All the rows")

Tables in the databse:
QuestionsProcessed
Cleared All the rows

In [27]:
preprocessed_data_list=[]
reader.fetchone()
questions_with_code=0
len_pre=0
len_post=0
questions_proccesed = 0
for row in reader:

    is_code = 0

    title, question, tags = row[0], row[1], row[2]

    if '<code>' in question:
        questions_with_code+=1
        is_code = 1
    x = len(question)+len(title)
    len_pre+=x

    code = str(re.findall(r'<code>(.*?)</code>', question, flags=re.DOTALL))

    question=re.sub('<code>(.*?)</code>', '', question, flags=re.MULTILINE|re.DOTALL)
    question=striphtml(question.encode('utf-8'))

    title=title.encode('utf-8')

    question=str(title)+" "+str(question)
    question=re.sub(r'[^A-Za-z]+',' ',question)
    words=word_tokenize(str(question.lower()))

    #Removing all single letter and and stopwords from question exceptt for the letter 'c'
    question=' '.join(str(stemmer.stem(j)) for j in words if j not in stop_words and (len(j)!=1 or j=='c'))

    len_post+=len(question)
    tup = (question,code,tags,x,len(question),is_code)
    questions_proccesed += 1
    writer.execute("insert into QuestionsProcessed(question,code,tags,words_pre,words_post,is_code) values (?,?,?,?,?,?)",tup)
    if (questions_proccesed%100000==0):
        print("number of questions completed=",questions_proccesed)

no_dup_avg_len_pre=(len_pre*1.0)/questions_proccesed
no_dup_avg_len_post=(len_post*1.0)/questions_proccesed

print( "Avg. length of questions(Title+Body) before processing: %d"%no_dup_avg_len_pre)
print( "Avg. length of questions(Title+Body) after processing: %d"%no_dup_avg_len_post)
print ("Percent of questions containing code: %d"%((questions_with_code*100.0)/questions_proccesed))

print("Time taken to run this cell :", datetime.now() - start)

number of questions completed= 100000
number of questions completed= 200000
number of questions completed= 300000
number of questions completed= 400000
number of questions completed= 500000
number of questions completed= 600000
number of questions completed= 700000
number of questions completed= 800000
number of questions completed= 900000
Avg. length of questions(Title+Body) before processing: 1169
Avg. length of questions(Title+Body) after processing: 326
Percent of questions containing code: 57
Time taken to run this cell : 0:30:59.220067

In [28]:
# dont forget to close the connections, or else you will end up with locks
conn_r.commit()
conn_w.commit()
conn_r.close()
conn_w.close()

In [29]:
if os.path.isfile(write_db):
    conn_r = create_connection(write_db)
    if conn_r is not None:
        reader =conn_r.cursor()
        reader.execute("SELECT question From QuestionsProcessed LIMIT 10")
        print("Questions after preprocessed")
        print('='*100)
        reader.fetchone()
        for row in reader:
            print(row)
            print('-'*100)
conn_r.commit()
conn_r.close()

Questions after preprocessed
====================================================================================================
('shutdown hook execut applic launch use javaw exe use javaw exe launch java applic shutdown hook execut user log window account applic actual launch use launch generat exe file know use javaw exe start seem known bug http bug sun com bugdatabas view bug bug id anyon els problem fix thank',)
----------------------------------------------------------------------------------------------------
('fragment size ext filesystem output dump fs relat disk fragment',)
----------------------------------------------------------------------------------------------------
('boost thread pass scope lock calle new boost thread librari situat acquir scope lock one function need wait calle code line basic function need access scope lock acquir wait thread notifi direct wait mutex instead lock help appreici thank',)
----------------------------------------------------------------------------------------------------
('bash cron redirect restor stdout stderr produc permiss deni got script call bunch command noisi stdout stderr intend script run cron want noisi mail everi day error condit intent get specif meaning messag error noth otherwis see run command line work run via cron give permiss deni messag unclear',)
----------------------------------------------------------------------------------------------------
('ad soap header php wsdl php complet newb php program task write exampl php web servic client consum compani web servic written java two type servic requir authent use wsdl php librari success communic servic need authent secur servic requir add soap header request look like problem got idea wsdl php even possibl php file current use test need somehow attach usernam password header request idea look wsdl php site littl term document use librari help would appreci thank andrew',)
----------------------------------------------------------------------------------------------------
('wordwrap make page blank use page appear blank exact case php ini disabl enabl that error realli know happen use show text fine problem edit use function seem work still see one long line fill wrap text',)
----------------------------------------------------------------------------------------------------
('rubi class object garbag collect rubi class object class class sinc class also object rubi vm follow garbag collect strategi class object determin class object safe garbag collect thank',)
----------------------------------------------------------------------------------------------------
('convert opencv python c object c found nice code abid rahman detect rectangl imag opencv c obj c advanc squar detect nnow code python would like convert object c c work miss updat program run select imag crash get error',)
----------------------------------------------------------------------------------------------------
('trayicon displaymessag text size java first post forum realli hope answer asap new java love tri differ thing often thought make simpl balloon messag applic java pop certain time system tray convey differ messag time wonder could chang text size balloon messag also somebodi help time interv delay messag appear disappear code tri pleas ponder bit help problem',)
----------------------------------------------------------------------------------------------------

In [30]:
#Taking 1 Million entries to a dataframe.
write_db = 'Processed.db'
if os.path.isfile(write_db):
    conn_r = create_connection(write_db)
    if conn_r is not None:
        preprocessed_data = pd.read_sql_query("""SELECT question, Tags FROM QuestionsProcessed""", conn_r)
conn_r.commit()
conn_r.close()

In [31]:
preprocessed_data.head()

,question,tags
0,use find packag includ network librari cpp net...,boost cmake shared-libraries cpp-netlib
1,shutdown hook execut applic launch use javaw e...,java windows
2,fragment size ext filesystem output dump fs re...,filesystems ext3
3,boost thread pass scope lock calle new boost t...,c++ boost boost-thread boost-mutex scoped-lock
4,bash cron redirect restor stdout stderr produc...,bash cron stdout stderr

In [32]:
print("number of data points in sample :", preprocessed_data.shape[0])
print("number of dimensions :", preprocessed_data.shape[1])

number of data points in sample : 999997
number of dimensions : 2